# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here

# Server Configuration
PORT=3001
NODE_ENV=development

# OTP Configuration
OTP_EXPIRY_MINUTES=5 

# Email configuration removed

# MongoDB
MONGODB_URI=mongodb://localhost:27017/trafficfrnd
MONGODB_DB=trafficfrnd

# Use GridFS to store files in MongoDB (true/false). If false, files are saved to /uploads
USE_GRIDFS=false